@{
    ViewBag.title = "Tanımlar";

    ViewBag.pagetitle = "Resmi Formlar";
    ViewBag.pagesubtitle = "Adana Hal Müdürlüğü";
    ViewBag.ptitle = "Tanımlar";
}
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <label for="userName" class="col-sm-4 col-form-label pb-0">
                Kullanıcı Adı
            </label>
            <div class="col-sm-8">
                <input type="text" name="userName" id="userName" class="form-control form-control-sm" />
            </div>
        </div>
        <div class="row">
            <label for="password" class="col-sm-4 col-form-label pb-0">
                Kullanıcı Şifresi
            </label>
            <div class="col-sm-8">
                <input type="text" name="password" id="password" class="form-control form-control-sm" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-sm btn-success">Kaydet</button>
        <button class="btn btn-sm btn-danger">Vazgeç</button>
    </div>
</div>