@{
    ViewBag.title = "Döküm Künyeleri Bildir";

    ViewBag.pagetitle = "Resmi Formlar";
    ViewBag.pagesubtitle = "Hal Müdürlüğü İşlemleri";
    ViewBag.ptitle = "Döküm Künyeleri Bildir";
}
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label for="startDate" class="col-sm-4 col-form-label pb-0">
                        İlk Tarih
                    </label>
                    <div class="col-sm-8">
                        <input type="date" name="startDate" id="startDate" class="form-control form-control-sm start-date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <label for="endDate" class="col-sm-4 col-form-label pb-0">
                        Son Tarih
                    </label>
                    <div class="col-sm-8">
                        <input type="date" name="endDate" id="endDate" class="form-control form-control-sm end-date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Hatalı Hks İstekleri</button>
            </div>
        </div>
    </div>

</div>
<div class="row my-1">
    <div class="col" data-simplebar style="max-height: 410px;">
        <table class="table table-sm table-bordered mb-0">
            <thead class="table-primary">
                <tr>
                    <th>Seç</th>
                    <th>Durumu</th>
                    <th>Hata Mesajı</th>
                    <th>Döküm No</th>
                    <th>Belde</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Tarih</th>
                    <th>Malın Sahibi</th>
                    <th>Sıfatı</th>
                    <th>TC No</th>
                    <th>Plaka No</th>
                    <th>Ürün Adı</th>
                    <th>Ürün Cinsi</th>
                    <th>Künye No</th>
                    <th>Miktar</th>
                    <th>Birimi</th>
                    <th>Tanım Türü</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>Pasif</td>
                    <td>Hata 123</td>
                    <td>54321</td>
                    <td>Diğer Belde</td>
                    <td>Diğer İl</td>
                    <td>Diğer İlçe</td>
                    <td>2023-11-25</td>
                    <td>Diğer Sahip</td>
                    <td>Diğer Sıfat</td>
                    <td>10987654321</td>
                    <td>06 XYZ 987</td>
                    <td>Diğer Ürün</td>
                    <td>Tekstil</td>
                    <td>123456</td>
                    <td>5</td>
                    <td>Metre</td>
                    <td>Özel</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-secondary">Listele</button>
        <button class="btn btn-success">Gönder</button>
        <button class="btn btn-danger">Kapat</button>
        <button class="btn btn-secondary">Excele Aktar</button>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Hatalı Hks İstekleri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <div id="modalContent">
                    <div class="row mb-1">
                        <div class="col" data-simplebar style="max-height: 410px;">
                            <table class="table table-sm table-bordered mb-0">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Tarih</th>
                                        <th>Evrak Türü</th>
                                        <th>Evrak No</th>
                                        <th>İşlem</th>
                                        <th>Hata No</th>
                                        <th>Hata Mesajı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2023-12-16</td>
                                        <td>Fatura</td>
                                        <td>ABC123</td>
                                        <td>Ekleme</td>
                                        <td>101</td>
                                        <td>Hata oluştu</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-sm btn-success">Tamam</button>
                        <button class="btn btn-sm btn-danger">Vazgeç</button>
                        <button class="btn btn-sm btn-secondary">Sıfırla</button>
                        <button class="btn btn-sm btn-secondary">Hatalıları Sil</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button id="modalSaveBtn" type="button" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>