@{
    ViewBag.title = "Zirve Fatura Transferi";

    ViewBag.pagetitle = "Resmi Formlar";
    ViewBag.ptitle = "Zirve Fatura Transferi";
}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <label for="companyName" class="col-sm-4 col-form-label pb-0">
                Firma Adı
            </label>
            <div class="col-sm-8">
                <select class="form-select form-select-sm" name="companyName" id="companyName">
                    <option>Zirve</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-sm btn-success">Aktar</button>
        </div>
    </div>
</div>