<div class="row mb-1">
    <div class="col-lg-7 btn-group btn-group-sm d-flex justify-content-start align-items-center">
        @*Yeni Kayýt*@
        <button type="button" id="modalNavigatorNewBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-file-add-line fs-6"></i>
            <span>Yeni</span>
        </button>
        @*Kaydet*@
        <button type="button" id="modalNavigatorSaveBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-save-line fs-6"></i>
            <span>Kaydet</span>
        </button>
        @*Kayýt Ara*@
        <button type="button" id="modalNavigatorSearchBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-search-line fs-6"></i>
            <span>Ara</span>
        </button>
        @*Ýlk Kayýt*@
        <button type="button" id="modalNavigatorFirstBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-skip-back-line fs-6"></i>
            <span>Ýlk Kayýt</span>
        </button>
        @*Önceki Kayýt*@
        <button type="button" id="modalNavigatorPrevBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-rewind-line fs-6"></i>
            <span>Önceki</span>
        </button>
        @*Sonraki Kayýt*@
        <button type="button" id="modalNavigatorNextBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-speed-line fs-6"></i>
            <span>Sonraki</span>
        </button>
        @*Son Kayýt*@
        <button type="button" id="modalNavigatorLastBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1">
            <i class="ri-skip-forward-line fs-6"></i>
            <span>Son Kayýt</span>
        </button>
        @*Sil*@
        <button type="button" id="modalNavigatorDeleteBtn" class="btn btn-primary d-flex flex-column align-items-center p-1 me-1" style="display:none;">
            <i class="ri-delete-bin-line fs-6"></i>
            <span>Sil</span>
        </button>
    </div>
</div>