@{
    ViewBag.title = "Cari Fiyat Listeleri";

    ViewBag.pagetitle = "Teknik İşlemler";
    ViewBag.ptitle = "Cari Fiyat Listeleri";
}
<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <label for="aciklama" class="col-sm-3 col-form-label pb-0">
                Açıklama
            </label>
            <div class="col-sm-9">
                <input type="text" name="aciklama" id="aciklama" class="form-control form-control-sm" />
            </div>
        </div>
        <table class="table table-sm table-bordered mb-0">
            <thead class="table-info">
                <tr>
                    <th>Mal</th>
                    <th>Fiyat</th>
                    <th>Iskonto</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-sm btn-secondary">Toplu Mal Seç</button>
                <button class="btn btn-sm btn-success">Kaydet</button>
                <h2>Grid Olacak</h2>
            </div>
        </div>
    </div>
</div>