@{
    ViewBag.title = "Dönemi Onayla";

    ViewBag.pagetitle = "Teknik İşlemler";
    ViewBag.pagesubtitle = "Servis İşlemleri";
    ViewBag.ptitle = "Dönemi Onayla";
}
<form method="post">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <label for="donemOnayi" class="col-sm-6 col-form-label pb-0">
                    Dönem Onayı
                </label>
                <div class="col-sm-6">
                    <input type="date" name="donemOnayi" id="donemOnayi" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1" style="width:145px">Günün Tarihinden</div>
                <div class="col-md-1" style="width:70px;"><input type="number" name="lastTwoDay" id="lastTwoDay" value="0" class="form-control form-control-sm" /></div>
                <div class="col">gün önce otomatik Başlat</div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-sm btn-success">Kaydet</button>
                    <button class="btn btn-sm btn-danger">Vazgeç</button>
                </div>
            </div>
        </div>
    </div>
</form>