@{
    ViewBag.title = "Hal Kayıt";

    ViewBag.pagetitle = "Teknik İşlemler";
    ViewBag.pagesubtitle = "Hks Tanımları";
    ViewBag.ptitle = "Hal Kayıt";
}
<form method="post">
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <h4>Grid Gelecek</h4>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-success">Tamam</button>
                </div>
            </div>
        </div>
    </div>
</form>
