@{
    ViewBag.title = "Yazıcı Tanımları";

    ViewBag.pagetitle = "Teknik İşlemler";
    ViewBag.ptitle = "Yazıcı Tanımları";
}
<div class="row">
    <div class="col-lg-10">
       <div class="row">
           <h3>Grid Gelecek...</h3>
       </div>
       <div class="ros">
            <div class="col d-flex justify-content-center">
               <button class="btn btn-success">Kaydet</button>
           </div>
       </div>
    </div>
</div>