<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	
  <connectionStrings>
    <add name="Db" connectionString="data source=esgiris.com;initial catalog=swell_;persist security info=True;user id=dev;password=0sKj6Lbb;multipleactiveresultsets=True;trustservercertificate=True;application name=OfisHal" providerName="System.Data.SqlClient" />
    <add name="HangFireDb" connectionString="data source=esgiris.com;initial catalog=__Hangfire;persist security info=True;user id=dev;password=0sKj6Lbb;multipleactiveresultsets=True;trustservercertificate=True;application name=HangfireApp" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="aspnet:FormsAuthReturnUrlVar" value="path" />
		<add key="App:DefaultTenantId" value="4" />
		<add key="App:MainDomainName" value="esgiris.com" />
		<add key="App:ApiInvoiceUrl" value="https://invoiceapi.esgiris.com" />
		<add key="App:ApiReportUrl" value="https://reportsapi.esgiris.com" />
	</appSettings>
	<system.web>
    <authentication mode="Forms">
      <forms loginUrl="/account/login" cookieSameSite="None" requireSSL="true" name=".EsSwell.Auth" />
    </authentication>
		<httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="None" />
		<sessionState cookieless="UseCookies" cookieName=".EsHal.Sess" cookieSameSite="None" mode="InProc" />
		<compilation targetFramework="4.8" debug="true" />
		<httpRuntime targetFramework="4.8" enableVersionHeader="false" />
		<machineKey decryption="3DES" decryptionKey="B38BEF543A8490406AC07817CFFF633757D474D871DC93F7" validation="SHA1" validationKey="DB6DA9BB4665FC0045E23A5B26638DE65FFD3567E624161A578971A655FF325C0ECC5DE40079143760CAB04CEFA1E67AD6C7BA2A556DCFE163D00A5F5E137E7F" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name="ErrorLog" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" culture="neutral" publicKeyToken="17863af14b0044da" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac.Integration.Owin" culture="neutral" publicKeyToken="17863af14b0044da" />
				<bindingRedirect oldVersion="0.0.0.0-7.1.0.0" newVersion="7.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.7.0" newVersion="8.0.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
			<basicHttpsBinding>
				<binding name="integrationSoap" />
				<binding name="BasicHttpBinding_IBildirimService" maxReceivedMessageSize="2097152" />
				<binding name="BasicHttpBinding_IGenelService" />
				<binding name="BasicHttpBinding_IUrunService" />
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="https://hks.hal.gov.tr/WebServices/UrunService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IUrunService" contract="HksUrunSvc.IUrunService" name="BasicHttpBinding_IUrunService" />
			<endpoint address="https://hks.hal.gov.tr/WebServices/BildirimService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IBildirimService" contract="HksBildirimSvc.IBildirimService" name="BasicHttpBinding_IBildirimService" />
			<endpoint address="https://hks.hal.gov.tr/WebServices/GenelService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IGenelService" contract="HksGenelSvc.IGenelService" name="BasicHttpBinding_IGenelService" />
			<endpoint address="https://integration.iceteknoloji.com.tr/integration.asmx" binding="basicHttpsBinding" bindingConfiguration="integrationSoap" contract="IceSvc.integrationSoap" name="integrationSoap" />
		</client>
	</system.serviceModel>
	<elmah>
		<security allowRemoteAccess="false" />
		<!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/ErorLogs" />-->
	</elmah>
</configuration>
