@{
    ViewBag.title = "Mal Beyannamesi";

    ViewBag.pagetitle = "Döküm İşlemleri";
    ViewBag.pagesubtitle = "Beyannameler";
    ViewBag.ptitle = "Mal Beyannamesi";
}
<form method="post">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <label for="date" class="col-sm-3 col-form-label pb-0">
                    Beyan Tarihi
                </label>
                <div class="col-sm-9">
                    <input type="date" name="date" id="date" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>
            </div>
            <div class="row">
                <label for="invoiceNo" class="col-sm-3 col-form-label pb-0">
                    Beyan No
                </label>
                <div class="col-sm-9">
                    <input type="number" name="invoiceNo" id="invoiceNo" class="form-control form-control-sm" value="0" />
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button class="btn btn-primary">Tamam</button>
        </div>
    </div>
</form>