<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpsBinding>
				<binding name="integrationSoap" />
				<binding name="BasicHttpBinding_IBildirimService" />
				<binding name="BasicHttpBinding_IGenelService" />
				<binding name="BasicHttpBinding_IUrunService" />
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="https://hks.hal.gov.tr/WebServices/UrunService.svc"
			 binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IUrunService"
			 contract="HksUrunSvc.IUrunService" name="BasicHttpBinding_IUrunService" />
			<endpoint address="https://hks.hal.gov.tr/WebServices/BildirimService.svc"
			 binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IBildirimService"
			 contract="HksBildirimSvc.IBildirimService" name="BasicHttpBinding_IBildirimService" />
			<endpoint address="https://hks.hal.gov.tr/WebServices/GenelService.svc"
			 binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IGenelService"
			 contract="HksGenelSvc.IGenelService" name="BasicHttpBinding_IGenelService" />
			<endpoint address="https://integration.iceteknoloji.com.tr/integration.asmx"
			 binding="basicHttpsBinding" bindingConfiguration="integrationSoap"
			 contract="IceSvc.integrationSoap" name="integrationSoap" />
		</client>
	</system.serviceModel>
</configuration>
